.top{
    margin-left: 300px;
}
.navi{
    margin-left: 480px;
    font-size: 30px;
}
.box{
    width: 100%;
    height: 100%;
}
.left-box,.right-box{

    width: 50%;
    
    height: 100%;
    
    float: left;
    
    }
